<div class="content">
  <div class="container-fluid g-4">

    <div class="portlet">

      <div class="portlet-header portlet-header-bordered">
        <h3 class="portlet-title">{{titulo}}</h3>
      </div>

      <div class="portlet-body">

        <div class="d-grid gap-3">
          <form [formGroup]="FRMnovoCadastro" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <div class="portlet">
                        <div class="portlet-body">
                          <div class="widget8">
                            <div class="widget8-content">
                              <div class="avatar avatar-label-info avatar-circle widget8-avatar">
                                <div class="avatar-display">
                                  <i class="fa fa-newspaper"></i>
                                </div>
                              </div>
                              <h2 class="widget8-highlight">{{info?.totalDividendosImportados}}</h2>
                              <h6 class="widget8-title">Dividendos já importados</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Último Dividendo importado</h5>
                        <p class="card-text">
                          <span class="text-primary fs-4">{{ info?.ativoCodigo }}</span> ({{ info?.ativoNome }}) em
                          <span class="text-primary fs-4">{{ info?.dataRecebimento | date: 'dd/MM/yyyy' }}</span>
                        </p>
                        <p class="card-text">
                          Total de <span class="text-primary fs-4">{{ info?.quantidade }}</span> cotas com
                          rendimentos unitário de
                          <span class="text-primary fs-4">{{ info?.dividendo | currency: 'BRL':'symbol':'1.2-2':'pt-BR'}}</span>
                          totalizando <span class="text-primary fs-4">{{ info?.valorTotal | currency: 'BRL':'symbol':'1.2-2':'pt-BR'}}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <label for="html" class="form-label">Código HTML com os dividendos:</label>
                  <textarea class="form-control form-control-lg" rows="15" id="html" formControlName="html" required> </textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md4 text-end">
                <button class="btn btn-primary mt-3 me-2" type="submit" >Enviar</button>
                <button class="btn btn-primary mt-3" (click)="atualizarIndices()" type="button" >Atualizar Indices</button>
              </div>
            </div>

          </form>

        </div>
      </div>

    </div>

  </div>
</div>


