<div class="content">
  <div class="container-fluid g-4">
    <div class="row">
      <div class="col-12">
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Listagem de Dividendos</h3>
          </div>
          <div class="portlet-body">

            <app-comum-dividendo-listagem
              [quantidadeItensListados]="200"
            >
            </app-comum-dividendo-listagem>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
