<div class="content">
  <div class="container-fluid g-4">
    <div class="row">
      <div class="col-12">
        <div class="portlet">
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Cadastro de Regras para Monitoramento de Ações</h3>
            </div>
            <div class="portlet-body">
              <form [formGroup]="FRMregraMonitoramento" (ngSubmit)="onSubmit()">

                <div class="row">
                  <div class="col-md-4">
                    <label for="ativo" class="form-label">Ativos Disponíveis:</label>

                    <select id="ativo" name="ativo" formControlName="ativo"
                            class="form-select form-select-lg"
                            #variavelTemplateAtivo>
                      <option value="" disabled>Selecione um Ativo</option>
                      <option *ngFor="let ativo of ativoLista "
                              [value]="ativo.codigo"> {{ ativo.codigo }} - {{ ativo.nome }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 mb-5 text-end">
                    <button type="button"
                            (click)="onAtivoSelecionado(variavelTemplateAtivo.value)"
                            class="btn btn-primary mt-3">Pesquisar</button>
                  </div>
                </div>

                <app-monitor-historico
                  *ngIf="ativoHistorico"
                  [historico]="ativoHistorico">
                </app-monitor-historico>

                <app-regra-cadastro
                  *ngIf="monitor"
                  [ativoCodigo]="codigoAtivoSelecionado"
                  [monitorId]="monitor.id"
                >
                </app-regra-cadastro>




              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
