<div class="portlet">
  <div class="portlet-body">
    <div class="col-md-6 mb-5">
      <select class="form-select form-select-lg">
        <option value="padrao">Escolher uma opção</option>
        <option value="ultima-compra">Última compra</option>
        <option value="ultimos-12-meses">Últimos 12 meses</option>
        <option value="todo-historico">Todo histórico</option>
        <option value="venda-especifica">Escolher uma venda específica</option>
      </select>
    </div>
  </div>
</div>
