<div class="ativo-card shadow-sm">
  <div class="d-flex justify-content-between align-items-start mb-2">
    <div class="titulo-card">BBAS3</div>
    <input class="form-check-input" type="checkbox">
  </div>

  <div class="row gx-4 mb-3">
    <div class="col pe-3">
      <div class="mb-3"><strong class="titulo-destaque">Preço Médio:</strong> <span class="valor-azul"> R$ 23,17</span></div>
      <div class="mb-3"><strong class="titulo-destaque">Total de cotas:</strong> <span class="valor-azul"> 2200</span></div>
    </div>
    <div class="col ps-3">
      <div class="mb-3"><strong class="titulo-destaque">Cotação Atual:</strong> <span class="valor-azul">R$ 24,31</span></div>
      <div class="mb-3"><span class="dy-circulo"></span> <span class="dy-percentual">24,5%</span></div>
    </div>
  </div>

  <div class="row text-center resumo-investimento mb-3">
    <div class="col border-end">
      <div>&nbsp;</div>
      <div class="titulo-destaque">Investimento</div>
      <div class="titulo-destaque">Com dividendos</div>
    </div>
    <div class="col border-end">
      <div class="cabecalho">Realizado</div>
      <div>R$ 50.974,00</div>
      <div>R$ 50.974,00</div>
    </div>
    <div class="col border-end">
      <div class="cabecalho">Atualização</div>
      <div>R$ 55.858,00</div>
      <div>R$ 55.858,00</div>
    </div>
    <div class="col">
      <div class="cabecalho">Resultado</div>
      <div>R$ 4.884,00</div>
      <div>R$ 4.884,00</div>
    </div>
    <div class="col">
      <div>&nbsp;</div>
      <div>9,58%</div>
      <div>9,58%</div>
    </div>
  </div>


  <table class="table table-bordered tabela-dividendos text-center mt-3">
    <thead class="table-light">
    <tr>
      <th>Ano</th>
      <th>Valor</th>
      <th>Qt.</th>
      <th>DY</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>2024</td>
      <td>R$ 2.652,52</td>
      <td>2000</td>
      <td>10,5%</td>
    </tr>
    <tr>
      <td>2023</td>
      <td>R$ 2.208,96</td>
      <td>600</td>
      <td>7,65%</td>
    </tr>
    <tr>
      <td>2022</td>
      <td>R$ 510,47</td>
      <td>300</td>
      <td>13,9%</td>
    </tr>
    <tr class="fw-bold">
      <td>Total:</td>
      <td colspan="3" class="text-start">R$ 6.605,77 &nbsp; &nbsp; <span class="fw-normal">D/Y:</span> <span class="dy-percentual">12,9%</span></td>
    </tr>
    </tbody>
  </table>
</div>
