<div class="content">
  <div class="container-fluid g-4">
    <div class="row">
      <div class="col-9">
        <div class="portlet">

            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Dividendo e projeções</h3>
            </div>

            <div class="portlet-body">
              <div class="chart-container">
                <canvas id="lineChart">{{ lineChart }}</canvas>
              </div>
            </div>

        </div>
      </div>

      <div class="col-3">

        <div class="col-12">
          <form #form="ngForm">
            <div class="portlet">
              <div class="portlet-body">

                <div class="row">
                  <div class="col-md4">
                    <label for="projecao-ano" class="form-label">Ano da projeção:</label>
                    <select2
                      id="projecao-ano"
                      name="ano"
                      [(ngModel)]="model.ano"
                      [data]="listaDeAnosComProjecao"
                      [value]="value"
                      multiple="true"
                      (update)="atualizar(form)">
                    </select2>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mt-3">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label form-label" for="tipo-ativo-acao">Ações</label>
                      <input class="form-check-input" type="checkbox" (change)="atualizar(form)"
                             id="tipo-ativo-acao" name="tipoAcao" value="A" [(ngModel)]="model.tipoAcao" >
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label form-label" for="tipo-ativo-fii">Fundos</label>
                      <input class="form-check-input" type="checkbox" (change)="atualizar(form)"
                             id="tipo-ativo-fii" name="tipoFii" value="F" [(ngModel)]="model.tipoFii" >
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label form-label" for="tipo-ativo-bdr">BDR (disabled)</label>
                      <input class="form-check-input" type="checkbox" (change)="atualizar(form)"
                             id="tipo-ativo-bdr" name="tipoBdr" value="B" [(ngModel)]="model.tipoBdr" disabled>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </form>
        </div>

        <div class="col-12">
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Média de Dividendos</h3>
            </div>
            <div class="portlet-body">
              <table class="table table-sm mb-0">
                <thead>
                <tr>
                  <th scope="col">Ano</th>
                  <th scope="col">Total</th>
                  <th scope="col">Média</th>
                  <th scope="col">Meses</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">2024</th>
                  <td>R$ 18.662,02</td>
                  <td>R$ 2.666,00</td>
                  <td>7</td>
                </tr>
                <tr>
                  <th scope="row">2023</th>
                  <td>R$ 27.881,54</td>
                  <td>R$ 2.323,46</td>
                  <td>12</td>
                </tr>
                <tr>
                  <th scope="row">2022</th>
                  <td>R$ 19.797,34</td>
                  <td>R$ 1.649,78</td>
                  <td>12</td>
                </tr>
                <tr>
                  <th scope="row">2021</th>
                  <td>R$ 9.483,37</td>
                  <td>R$ 790,28</td>
                  <td>12</td>
                </tr>
                <tr>
                  <th scope="row">2020</th>
                  <td>R$ 2483,63</td>
                  <td>R$ 225,78</td>
                  <td>12</td>
                </tr>
                </tbody>
              </table>
              <!-- END Table -->
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
