<div class="content">
  <div class="container-fluid g-4">

    <div class="portlet">

      <div class="portlet-header portlet-header-bordered">
        <h3 class="portlet-title">{{titulo}}</h3>
      </div>

      <div class="portlet-body">

        <div class="row">
          <div class="col-md-12">
            <div class="grid-monitores">
              <div *ngFor="let item of lista">
                <app-box-apresentacao
                  [monitorDados]="item"></app-box-apresentacao>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <app-dividendo-diario></app-dividendo-diario>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <app-dividendo-diario></app-dividendo-diario>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <app-meta-total-investido
            [ano]="2026"></app-meta-total-investido>
          </div>
        </div>


      </div>


    </div>
  </div>

  <div class="container mt-4">
    <h2>Dashboard Investmaster</h2>
    <hr>

    <!-- Botões para abrir os popups de ativos -->
    <div class="d-flex gap-2 mb-4">
      <button class="btn btn-outline-primary" (click)="abrirModalMetas()">
        Abrir Metas
      </button>
      <button class="btn btn-outline-primary" (click)="abrirModalAtivo('VALE3')">
        Modal Ativo VALE3
      </button>
    </div>

    <app-draggable-modal
      *ngFor="let modal of modaisAbertos; let i = index"
      [title]="modal.titulo"
      [isOpen]="true"
      [initialTop]="modal.top"
      [initialLeft]="modal.left"
      (isOpenChange)="fecharModal(i)">

      <!-- Se for o modal de META, carrega o seu componente de metas -->
      <ng-container *ngIf="modal.tipo === 'META'">
        <app-meta-total-investido [ano]="2026"></app-meta-total-investido>
      </ng-container>

      <!-- Se for o modal de ATIVO, exibe a tabela ou o monitor do ativo -->
      <ng-container *ngIf="modal.tipo === 'ATIVO'">
        <app-box-apresentacao [monitorDados]="modal.dadosAtivo"></app-box-apresentacao>
      </ng-container>

    </app-draggable-modal>

  </div>
</div>


