@media (max-width: 1300.98px) {
  .percentual-destaque {
    color: red !important;
    background-color: #fef9c3;
    padding: 4px 10px;
    border-radius: 4px;
    margin-top: 8px;
    display: inline-block !important;
  }
}
