<div class="monitor-card p-0">
  <div class="card-header bg-transparent border-0 pt-3 pb-2 position-relative text-center w-100">
    <button class="btn-close-custom">✖</button>
    <div class="ticker-name w-100 text-center">
      Meta Investimento Anual - Bruto
    </div>
  </div>

  <div class="card-body px-3 pt-2 pb-3">
    <div class="row align-items-center g-0">

      <div class="col-12 col-xl-6 border-end border-light pe-2">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="text-secondary small fw-medium me-2">Meta</span>
          <span class="fw-bold text-dark text-nowrap">
            {{ $any(dados.metadata)?.valorLimiteFinal | currency: 'BRL': 'symbol': '1.2-2': 'pt-BR' }}
          </span>
        </div>

        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="text-secondary small fw-medium me-2">Alcançado</span>
          <span class="fw-bold text-dark text-nowrap">
            {{ dados.valorMeta | currency: 'BRL':'symbol':'1.2-2':'pt-BR'}}
          </span>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <span class="text-secondary small fw-medium me-2">Limite Inicial</span>
          <span class="fw-bold text-dark text-nowrap">
            {{ $any(dados.metadata)?.valorLimiteInicial | currency: 'BRL': 'symbol': '1.2-2': 'pt-BR' }}
          </span>
        </div>
      </div>

      <div class="col-12 col-xl-6 text-center ps-2">
        <span class="fs-2 percentual-destaque fw-bold text-dark d-block">
          {{ percentual | number: '1.2-2' }}%
        </span>
      </div>

    </div>
  </div>

  <div class="card-header bg-transparent border-0 pt-3 pb-2 position-relative text-center w-100">
    <div class="ticker-name w-100 text-center">
      Gráfico Projeção de Investimentos Próprios
    </div>
  </div>

  <app-meta-total-investido-grafico
    *ngIf="ano"
    [ano]="ano">
  </app-meta-total-investido-grafico>

</div>
