<div class="aside">
  <div class="aside-header">
    <h3 class="aside-title">Investmaster</h3>
    <div class="aside-addon">
      <button class="btn btn-label-primary btn-icon btn-lg" data-toggle="aside">
        <i class="fa fa-times aside-icon-minimize"></i>
        <i class="fa fa-thumbtack aside-icon-maximize"></i>
      </button>
    </div>
  </div>

  <div class="aside-body" data-simplebar data-simplebar-direction="ltr" >

    <div class="menu" *ngFor="let item of itens">

      <div *ngIf="!item.itens" class="menu-item">
        <a [routerLink]="[item.link]" class="menu-item-link">
          <div class="menu-item-icon"><i class="{{item.classeIcone}}"></i></div>
          <span class="menu-item-text">{{item.titulo}}</span>
        </a>
      </div>

      <div *ngIf="item.itens" class="menu-item">

        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon"><i class="fa fa-book"></i></div>
          <span class="menu-item-text">{{item.titulo}}</span>
          <div class="menu-item-addon"><i class="menu-item-caret caret"></i></div>
        </button>

        <div class="menu-submenu">
          <div class="menu-item" *ngFor="let subItem of item.itens">
            <a [routerLink]="[subItem.link]" class="menu-item-link">
              <span class="menu-item-text">{{subItem.titulo}}</span>
            </a>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
