<div class="content">
  <div class="container-fluid g-4">
    <div class="row">

      <div class="col-md-9">
        <form #formPesquisaAtivo="ngForm" (ngSubmit)="pesquisar(formPesquisaAtivo)">
          <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Filtro de Pesquisa</h3>
          </div>
          <div class="portlet-body">
            <div class="row">
              <div class="col-md4">
                <label for="ativos-disponiveis" class="form-label">Ativos Disponíveis:</label>
                <select2
                  id="ativos-disponiveis"
                  name="ativosSelecionados"
                  [(ngModel)]="model.ativos"
                  [data]="listaDeAtivosExistentes"
                  [value]="value"
                  multiple="true">
                </select2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label for="periodicidade" class="form-label mt-3">Periodicidade:</label>
                <select class="form-select" id="periodicidade" name="periodicidade" [(ngModel)]="model.periodicidade"  >
                  <option value="anual">Anual</option>
                  <option value="mensal" selected="selected" >Mensal</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="dataInicio" class="form-label mt-3">Data Início:</label>
                  <input id="dataInicio" name="dataInicio" [(ngModel)]="model.dataInicio" type="text" class="form-control" placeholder="Opcional" mask="99/9999" />
              </div>
              <div class="col-md-3">
                <label for="dataFim" class="form-label mt-3">Data Fim:</label>
                  <input id="dataFim" name="dataFim" [(ngModel)]="model.dataFim" type="text" class="form-control" placeholder="Opcional" mask="99/9999" />
              </div>
            </div>
          </div>
          <div class="portlet-footer portlet-footer-bordered">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
          </div>
        </div>
        </form>
      </div>

      <div class="col-md-12">
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Gráfico</h3>
            <div class="portlet-addon">
              <button class="btn btn-label-info btn-icon" data-toggle="portlet" data-target="parent" data-behavior="toggleCollapse">
                <i class="fa fa-angle-down"></i>
              </button>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row">
              <div class="col-6 col-md-9 mx-auto"><canvas id="barChart">{{ barChart }}</canvas></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="portlet">

          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Dados Detalhados</h3>
            <div class="portlet-addon">
              <button class="btn btn-label-info btn-icon" data-toggle="portlet" data-target="parent" data-behavior="toggleCollapse">
                <i class="fa fa-angle-down"></i>
              </button>
            </div>
          </div>

          <div class="portlet-body">
            <div class="container">
              <div class="row g-5" *ngIf="ativosSelecionados">
                <div class="col-xl-6 mb-4" *ngFor="let ativo of ativosSelecionados">
                  <app-resultado-geral [codigoAtivo]="ativo"></app-resultado-geral>
                </div>
              </div>
            </div>
          </div>

          <div class="portlet-footer portlet-footer-bordered">
            rodapé
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
