.btn-primary {
  margin-right: 5px;
}

.ativo-card {
  border: 2px solid #000;
  border-radius: 15px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.col {
  padding: 5px;
}

.valor-azul {
  color: #007bff;
  font-weight: bold;
  font-size: 1.8rem;
}

.tabela-dividendos td,
.tabela-dividendos th {
  padding: 0.3rem;
  font-size: 1.2rem;
}

.resumo-investimento .col {
  font-size: 1.1rem;
}

.titulo-card {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.titulo-destaque {
  font-size: 1.3rem;
  font-weight: bold;
}

.cabecalho {
  font-size: 1.1rem;
  font-weight: bold;
}

.dy-circulo {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #007bff;
  border-radius: 50%;
  margin-right: 5px;
}

thead.table-light {
  background-color: #eceff3;
}

.dy-percentual {
  font-weight: bold;
  color: #0d6efd;
  font-size: 2rem;;
}
