<div class="content">
  <div class="container-fluid g-4">
    <div class="row">

      <div class="col-md-9">
        <form #formPesquisaAtivo="ngForm" (ngSubmit)="pesquisar(formPesquisaAtivo)">
          <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Filtro de Pesquisa</h3>
          </div>
          <div class="portlet-body">
            <div class="row">
              <div class="col-md4">
                <label for="ativos-disponiveis" class="form-label">Ativos Disponíveis:</label>
                <select2
                  id="ativos-disponiveis"
                  name="ativosSelecionados"
                  [(ngModel)]="model.ativos"
                  [data]="listaDeAtivosExistentes"
                  [value]="value"
                  multiple="true">
                </select2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label for="periodicidade" class="form-label mt-3">Periodicidade:</label>
                <select class="form-select" id="periodicidade" name="periodicidade" [(ngModel)]="model.periodicidadeTeste"  >
                  <option value="anual">Anual</option>
                  <option value="mensal" selected="selected" >Mensal</option>
                </select>
              </div>
            </div>
          </div>
          <div class="portlet-footer portlet-footer-bordered">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
          </div>
        </div>
        </form>
      </div>

      <div class="col-md-12">
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Gráfico</h3>
            <div class="portlet-addon">
              <button class="btn btn-label-info btn-icon" data-toggle="portlet" data-target="parent" data-behavior="toggleCollapse">
                <i class="fa fa-angle-down"></i>
              </button>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row">
              <div class="col-6 col-md-9 mx-auto"><canvas id="barChart">{{ barChart }}</canvas></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Dados Detalhados</h3>
            <div class="portlet-addon">
              <button class="btn btn-label-info btn-icon" data-toggle="portlet" data-target="parent" data-behavior="toggleCollapse">
                <i class="fa fa-angle-down"></i>
              </button>
            </div>
          </div>
          <div class="portlet-body">
            <p class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="portlet-footer portlet-footer-bordered">
            rodapé
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
